/* reset start */

ul {
    list-style: none;
    /* Removes bullet points */
    margin: 0;
    /* Removes default outer spacing */
    padding: 0;
    /* Removes default left indentation */
}

figure {
    margin: 0;
}

/* reset end */

a {
    color: blue;
}

img {
    max-width: 100%;
}

figcaption {
    color: #999;
}

html,
body {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

body {
    font-size: 20px;
    font-family: -apple-system, sans-serif;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    /* This locks the background in place on scroll */
}

#con {
    max-width: 600px;
    margin: auto;
    padding: 20px 30px 200px;
    min-height: 100vh;
    /* Ensures it is at least the full height of the viewport */
    box-sizing: border-box;
    /* Optional: ensures padding doesn't push the height past 100vh + padding */
    background: white;
}

#con-2cols {
    display: flex;
  gap: 0; /* Space between columns */
  width: 1201px;
  height: 100vh;
  margin: auto;
}

#con-2cols .left {
    width: 600px;
    padding: 20px 30px 30px;
    height: 100vh;
    /* Ensures it is at least the full height of the viewport */
    box-sizing: border-box;
    /* Optional: ensures padding doesn't push the height past 100vh + padding */
    background: white;
    overflow-y: auto;
    border-right: 1px solid #ddd;
}

#con-2cols .right {
    position: sticky;
    width: 600px;
    
    padding: 20px 30px 200px;
    height: 100vh;
    overflow-y: auto;
    /* Ensures it is at least the full height of the viewport */
    box-sizing: border-box;
    /* Optional: ensures padding doesn't push the height past 100vh + padding */
    background: white;
}

#article-pre {
    white-space: pre-wrap;
}

.map-container {
    position: relative;
    width: 100%;
    padding-bottom: 75%;
    /* Sets a 4:3 aspect ratio (480 / 640 = 0.75) */
    height: 0;
    overflow: hidden;
}

.map-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

/* chapter subtitle or summary */
h1 {

}
.ch-dropcap {
    font-size: 45px;
    font-weight: bold;
}
.ch-sub {
    font-size: 25px;
    font-weight: bold;
    margin: 0;
}