// #region reset

* {
    box-sizing: border-box;
    margin: 0;
    border: 0;
    padding: 0;
}

ul {
    list-style: none;
}

img {
    display: block;
}

table {
    border-collapse: collapse;
}

// #endregion







// #region common

html,
body {
    height: 100vh;
    font-family: -apple-system, sans-serif;
    font-size: 20px;
}

body {
    background-repeat: no-repeat;
    background-size: cover; // scale to fill container
    background-position: center; // center it
    background-attachment: fixed; // fix with viewport
}

a {
    color: blue;
}

p {
    margin-bottom: 20px;
}

img {
    max-width: 100%;
}

figure {
    margin-bottom: 20px;
}

figcaption {
    color: #999;
    font-size: 0.9rem;
    padding: 5px 0 0;
    white-space: pre-wrap;
}

video {
    max-width: 100%;
}

th,
td {
    border: 1px solid #ddd;
    padding: 5px;
    text-align: left;
}

th {
    background-color: #f4f4f4;
}

// #endregion








// #region article con

@mixin mobile {
    @media screen and (max-width: 768px) {
        @content;
    }
}

#con {
    // left width is optimized for mac air temporarily for myself
    // upside is no y scroll
    // downside is text a bit too small
    $tw: 1201px;
    $lw: 470px;
    $rw: $tw - $lw;

    display: flex;
    width: $tw;
    height: 100vh;
    // margin: auto;

    @include mobile {
        & {
            width: 100vw;
        }
    }

    #left {
        width: $lw;
        height: 100vh;
        background: white;
        overflow-y: auto;

        @include mobile {
            & {
                display: none;
            }
        }
    }

    article#right {
        width: $rw;
        height: 100vh;
        padding: 20px 30px 450px;
        overflow-y: auto;
        // background: white;

        @include mobile {
            & {
                width: 100vw;
            }
        }

        h1 {
            font-size: 25px;
            margin-bottom: 20px;
        }

        p {
            white-space: pre-wrap;
        }

        p.subtitle {
            font-weight: bold;
        }

        p.dropcap::first-letter {
            font-size: 25px;
            font-weight: bold;
        }

        // p n div
        .gray {
            color: #999;
        }
    }
}

// #endregion